.center {
    text-align: center;
}
.link {
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #ff6000;
    color: white;
    margin-left: 33%;
    margin-right: 33%;
    display: inline-block;
    margin-top: 1em;
}
.info {
    color: black;
    background-color: #e4f2f8;
    margin: auto;
    padding: 15px 10px;
    text-align: left;
    width: 300px;
    border-radius: 5px;
}
.code {
    font-family: monospace;
}
.container {
    margin-top: 30px;
}

img {
    max-width: 150px;
}

.greeting {
    height: 75px;
}
.bg-menu-theme {
    background-color: rgb(255 255 255) !important;
    color: rgb(105 122 141);
}
.bodyContainer {
    background: rgb(245,245,249);
}
.app-brand.demo {
    padding: 0!important;
}
.app-title {
    color: rgb(165, 42, 42);
    font-size: 1.3rem;
    margin-left: 10px;
}
.dashboardMenuImage {
    margin-right: 10px;
}
.statusTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .statusTable td, .statusTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .statusTable tr:nth-child(even){background-color: #f2f2f2;}
  
  .statusTable tr:hover {background-color: #ddd;}
  
  .statusTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  .guageImage {
    margin: -10px 0 0 16px;
  }
  .card-body2 {
    padding: 16px 0 0 13px;
    cursor: pointer;
  }
  .displayInlineBlock {
    display: inline-block;
  }